.header {
  background: url('../images/header-bg.png') left top no-repeat;
  background-size: 100% 100%;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.header .title {
  font-size: 20px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #ffffff;
  line-height: 80px;
  display: inline-block;
  margin-left: 1%;
}
.header .title-list {
  position: absolute;
  margin-left: 26%;
  top: 0;
  height: 80px;
}
.header .title-list li {
  float: left;
  height: 80px;
  line-height: 80px;
  list-style: none;
  padding: 0px 10px;
}
.header .title-list li a {
  font-size: 16px;
  color: #ffffff;
  padding: 26px 0px;
}
.header .title-list li a:hover,
.header .title-list li a:active {
  border-bottom: 2px solid #fff;
}
.header .right {
  float: right;
}
.header .search-list {
  display: inline-block;
  width: 248px;
  height: 40px;
  background: rgba(163, 0, 0, 0.9);
  border-radius: 20px;
}
.header .search-list .search-input {
  font-size: 14px;
  border-radius: 0;
  width: 100%;
  background: #a30000;
  border-radius: 20px;
  padding: 4px 0px 5px;
  padding-left: 18px;
  padding-right: 43px;
  position: relative;
  color: #ffffff;
  height: 35px;
}
.header .search-list .search-input input {
  outline: none;
  -webkit-appearance: none;
  background: #a30000;
  border: 0;
  color: #ffffff;
  height: 34px;
  font-size: 14px;
}
.header .search-list .search-input:after {
  content: '';
  position: absolute;
  right: 16px;
  top: 32%;
  width: 16px;
  height: 16px;
  background: url(../images/search.png);
  background-size: 16px 16px;
}
.header .login-btn {
  display: inline-block;
  height: 80px;
  border-left: 1px solid #AD0000;
  margin-left: 36px;
}
.header .login-btn .user-img {
  cursor: pointer;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #ffffff;
  padding: 30px 35px;
}
.main {
  width: 1200px;
  margin: 0 auto;
  margin-top: 117px;
}
.main .title-top {
  border-bottom: 4px solid #C80000;
  position: relative;
}
.main .title-top span {
  font-size: 24px;
  color: #c80000;
  padding-bottom: 24px;
  display: inline-block;
}
.main .title-top a {
  font-size: 14px;
  color: #999999;
  position: absolute;
  right: 10px;
  top: 15px;
}
.main .content-wape {
  width: 1200px;
  box-sizing: border-box;
  margin-top: 23px;
  margin-bottom: 20px;
  background: #fff;
  padding: 20px;
  display: table;
}
.main .content-wape .left-menu {
  vertical-align: top;
  display: table-cell;
  background: #e6e6e6;
  border-radius: 0px 6px 0px 0px;
}
.main .content-wape .left-menu .menu-top {
  height: 40px;
  background: #DA251D;
}
.main .content-wape .left-menu .menu-top .tips {
  float: left;
  width: 50px;
  height: 40px;
  background: #F4B908;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .content-wape .left-menu .menu-top .tips img {
  display: block;
  margin: 0 auto;
}
.main .content-wape .left-menu .menu-top .tips-t {
  padding: 0px 10px;
  float: left;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .content-wape .left-menu .menu-top .tips-t span {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  line-height: 40px;
}
.main .content-wape .right-menu {
  display: table-cell;
  padding-left: 20px;
  vertical-align: top;
}
.main .content-wape .right-menu .new-list {
  margin-bottom: 45px;
}
.main .content-wape .right-menu .new-list .list-ul {
  list-style: none;
}
.main .content-wape .right-menu .new-list .list-ul .sec1 {
  margin-bottom: 30px;
  display: table;
}
.main .content-wape .right-menu .new-list .list-ul .sec1 .left {
  display: table-cell;
  vertical-align: top;
  width: 182px;
  height: 137px;
  padding-right: 20px;
}
.main .content-wape .right-menu .new-list .list-ul .sec1 .left img {
  display: block;
  width: 182px;
  height: 137px;
}
.main .content-wape .right-menu .new-list .list-ul .sec1 .mid {
  display: table-cell;
  width: 100%;
}
.main .content-wape .right-menu .new-list .list-ul .sec1 .right {
  vertical-align: middle;
  word-break: break-all;
  text-align: left;
  font-size: 16px;
  color: #2E2E2E;
  margin-bottom: 17px;
  margin-top: 5px;
}
.main .content-wape .right-menu .new-list .list-ul .sec1 .right_des {
  text-align: left;
}
.main .content-wape .right-menu .new-list .list-ul .sec1 .right_des a {
  font-size: 14px;
  color: #999999;
  line-height: 24px;
  text-decoration: none;
}
.main .content-wape .right-menu .new-list .list-ul .sec1 .right_des a span {
  color: #C80000;
}
.main .content-wape .right-menu .new-list .list-ul .sec1 .time {
  font-size: 14px;
  font-weight: 400;
  color: #A8A8A8;
  line-height: 30px;
  margin-top: 20px;
}
.main .content-wape .right-menu .new-list .list-ul .sec1 .time span {
  color: inherit;
}
